<% @user ||= current_user %> <!-- @userがnillでない場合（プロフィールページ）は
　　　　　　　　　　　　　　　　　何もせず、nilの場合（Homeページ）にはcurrent_user
　　　　　　　　　　　　　　　　　を代入する -->
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="followinfg" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>